$navChildMarginV: 10px;
$navChildBoxHeight: 32px;
$navChildTotalHeight: $navChildBoxHeight + $navChildMarginV * 2;

nav {
  position: fixed;
  width: 100%;
  display: flex;
  // justify-content: flex-end;
}

nav .links-container {
  // width: 50%;
  margin: $navChildMarginV 0px;
  background-color: rgba(0, 0, 0, 0.2);
  // margin: auto 15% auto auto;
  // clear: both;
}

nav .links-container span {
  // height: $headerChildBoxHeight;
  line-height: $navChildBoxHeight;
  margin: auto 15px;

  text-align: center;
  vertical-align: middle;
}

@media (min-width: 801px) {
}

@media (min-width: 1200px) {
  nav {
    justify-content: flex-end;
  }

  nav .links-container {
    width: 50%;
  }
}

@media (max-width: 1199px) {
  nav {
    justify-content: center;
  }

  nav .links-container {
    width: auto;
  }
}

@media (max-width: 800px) {
  nav {
    width: 75%;
    height: 100%;

    // display: flex;
    justify-content: flex-start;
  }

  nav.animated {
    transition: transform 500ms linear;
  }

  nav.hidden {
    transform: translate(-100%);
  }

  nav .links-container {
    // width: auto;
    margin: auto 0px;
  }

  nav .links-container span {
    display: block;
    text-align: left;
  }
}
