body {
}

$generic_color: rgba(0, 0, 0, 0.1);
$generic_color_denser: rgba(0, 0, 0, 0.3);

.card-section,
.card-block,
.card-detail {
  background-color: $generic_color;
  box-sizing: border-box;
  padding: 2px;
}

.card-section {

}

.card-block {
  min-height: 250px;
  max-height: 650px;
  margin: 2px auto;
}

.card-block .expanded {

}

.card-detail {
  height: 50px;
}

.slider-container {
  position: fixed;
  height: 100vh;
  right: 0px;

  display: flex;
  align-items: center;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 15px;
}

.slider-item {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 4px;
  background-color: $generic_color;
}

.slider-item.active {
  background-color: $generic_color_denser;
}
